* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #111dc0dc;
    padding: 20px;
}

.logo a {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
    transition: color 0.3s ease;
}

.logo a:hover {
    color: #ff0000;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 30px;
}

.nav-links a {
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ff0000;
}


.imageandtext {
      position: relative;
}

#image1 {
    width: 100%;
    height: 500px;
    overflow: hidden;
    object-fit: cover;
}

.paragraph {
    color:white;
    font-weight: bold;
    text-align: center;
}

.header1 {
    position:absolute;
    top:10%;
    right:70%;
    color:white;
    background-color: rgb(104, 34, 34); 
    font-weight: bold;
    text-align: center;
}

.textbox1 {
    position: absolute;
    top: 20%; 
    left: 11%; 
    width: 20%; 
    background-color: rgb(199, 20, 20); 
    border-radius: 8px;
}

.header2 {
    position:absolute;
    top:14%;
    left:40%;
    color:white;
    background-color: rgb(104, 34, 34); 
    font-weight: bold;
    text-align: center;
}

.textbox2 {
    position: absolute;
    top: 20%; 
    left: 41%; 
    width: 20%; 
    background-color: rgb(199, 20, 20); 
    border-radius: 8px;
}

.header3 {
    position:absolute;
    top:14%;
    left:70%;
    color:white;
    background-color: rgb(104, 34, 34); 
    font-weight: bold;
    text-align: center;
}

.textbox3 {
    position: absolute;
    top: 20%; 
    left: 70%; 
    width: 25%; 
    background-color: rgb(199, 20, 20); 
    border-radius: 8px;
}

.games-table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(63, 16, 190, 0.61);
    border-radius: 0;
    overflow: hidden;
}

.games-table th, .games-table td {
    text-align: left;
    padding: 12px 15px;
    color: white;
}

.games-table th {
    background-color: rgb(21, 31, 179);
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}
 
.games-table tbody tr:hover {
    background-color: rgb(243, 8, 0);
}

.games-table td {
    border-bottom: 1px solid rgba(55, 158, 218, 0.521);
}

.games-table tr:last-child td {
    border-bottom: none;
}

.custom-modal-content {
    background-color: rgba(37, 23, 236, 0.85); 
    border-radius: 1px;
    border: 3px solid #d61d1d; 
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.custom-modal-header {
    background-color: rgba(240, 0, 0, 0.9);
    color: #fff;
}

.custom-modal-header .modal-title {
    font-weight: bold;
    font-size: 1.5rem;
}

.custom-close {
    color: #fff;
    font-size: 1.5rem;
    opacity: 0.8;
}

.custom-close:hover {
    opacity: 1;
}

.custom-btn {
    background-color: #0a17ce; 
    color: #fff;
    border: none;
    font-size: 1.1rem;
    padding: 10px 20px;
    border-radius: 0;
    transition: background-color 0.3s ease;
    width: 100%;
}

.custom-btn:hover {
    background-color: #e70000; 
}

.custom-btn-secondary {
    background-color: #6c757d;
    color: #fff;
}

.custom-btn-secondary:hover {
    background-color: #1f70ad;
}

.modal.fade .modal-dialog {
    transform: scale(0.7);
    transition: transform 0.3s ease-in-out;
}

.modal.show .modal-dialog {
    transform: scale(1);
}

.modal-footer {
    border: none; 
}

.modal-body {
    color:white;
}

.custom-footer {
    background-color: #111dc0dc; 
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-content {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}


.footer-link {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.footer-link:hover {
    color: #ff0000; 
    text-decoration: underline;
}

strong {
    font-weight: 600;
}
